body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Containers */

.container-wrapper {}

.container-wrapper--blue {
    background-color: #66C7F4;
    color: white;
}

.callout-container {
    height: 100vh;
    background: url('../images/teampic.jpg') no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: white;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}


/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 15px;
    width: 160px;
}

.btn--clr {
    color: white;
    background-color: #66C7F4;
}

.btn--clr:hover,
.btn--clr:active,
.btn--clr:focus,
.btn--clr:active:focus {
    background-color: #272932;
    color: white;
}


/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ddd;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}


/* Back to top button*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #272932;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}


/*Contact Form*/

.contact-heading {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

form input {
    margin-bottom: 12px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #272932;
}


/*Youtube frame*/

iframe {
    width: 100%;
    height: 315px;
}


/* Footer*/

#footer-details {
    background-color: #272932;
    color: #ddd;
    padding: 20px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #66C7F4;
}