body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Containers */

.container-wrapper {}

.container-wrapper--red {
    background-color: #66C7F4;
    color: white;
}

.alert-container {}

.callout-container {
    height: 100vh;

    background: url('../images/teampic.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: white;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 15px;
    width: 160px;
}

.btn--clr {
    color: white;
    background-color: #66C7F4;
    border-color: #66C7F4;
}

.btn--clr:hover,
.btn--clr:active,
.btn--clr:focus,
.btn--clr:active:focus {
    background-color: #272932;
    border-color: #272932;
    color: white;
}

nav{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    display: inline-block;
    padding: 3px;
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li .left{
    float: left;
}
